USE [master]
GO
/****** Object:  Database [isp392]    Script Date: 7/27/2025 9:35:10 AM ******/
CREATE DATABASE [isp392]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'isp392', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\isp392.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'isp392_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\isp392_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [isp392].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [isp392]
GO
/****** Object:  Table [dbo].[blog_comments]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blog_comments](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](max) NULL,
	[created_date] [datetime2](6) NULL,
	[blog_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[is_approved] [bit] NOT NULL,
	[is_hidden] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blogs]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blogs](
	[blog_id] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](max) NULL,
	[created_date] [datetime2](6) NOT NULL,
	[is_locked] [bit] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[views_count] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[is_pinned] [bit] NOT NULL,
	[image_url] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[blog_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book_categories]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book_categories](
	[book_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[book_id] ASC,
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book_reviews]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book_reviews](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](max) NULL,
	[created_date] [datetime2](6) NOT NULL,
	[img_url_1] [nvarchar](max) NULL,
	[img_url_2] [nvarchar](max) NULL,
	[img_url_3] [nvarchar](max) NULL,
	[is_approved] [bit] NOT NULL,
	[rating] [int] NOT NULL,
	[title] [nvarchar](500) NULL,
	[order_item_id] [int] NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[books]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[book_id] [int] IDENTITY(1,1) NOT NULL,
	[authors] [nvarchar](max) NULL,
	[average_rating] [numeric](2, 1) NULL,
	[cover_img_url] [varchar](500) NULL,
	[date_added] [date] NULL,
	[description] [nvarchar](max) NULL,
	[dimensions] [nvarchar](20) NULL,
	[is_active] [bit] NOT NULL,
	[isbn] [varchar](20) NULL,
	[number_of_pages] [int] NULL,
	[original_price] [numeric](18, 0) NOT NULL,
	[publication_date] [date] NULL,
	[selling_price] [numeric](18, 0) NULL,
	[sku] [varchar](50) NULL,
	[stock_quantity] [int] NULL,
	[title] [nvarchar](500) NULL,
	[total_reviews] [int] NULL,
	[publisher_id] [int] NULL,
	[shop_id] [int] NOT NULL,
	[views_count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart_items]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_items](
	[cart_item_id] [int] IDENTITY(1,1) NOT NULL,
	[quantity] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[cart_id] [int] NOT NULL,
	[selected] [bit] NULL,
	[shop_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carts]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carts](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[updated_at] [datetime2](6) NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_description] [nvarchar](max) NULL,
	[category_name] [nvarchar](255) NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chat_messages]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat_messages](
	[message_id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[is_user_message] [bit] NOT NULL,
	[message_type] [nvarchar](50) NULL,
	[metadata] [nvarchar](max) NULL,
	[session_id] [int] NOT NULL,
	[content] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chat_sessions]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat_sessions](
	[session_id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[is_active] [bit] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[user_id] [int] NOT NULL,
	[session_token] [varchar](255) NOT NULL,
	[title] [nvarchar](255) NULL,
	[message_count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer_orders]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_orders](
	[customer_order_id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[discount_amount] [numeric](18, 0) NOT NULL,
	[notes] [nvarchar](max) NULL,
	[payment_method] [varchar](255) NULL,
	[payment_status] [varchar](50) NULL,
	[payment_url] [varchar](255) NULL,
	[recipient_name] [nvarchar](255) NOT NULL,
	[recipient_phone] [varchar](20) NOT NULL,
	[shipping_address_detail] [nvarchar](500) NULL,
	[shipping_address_type] [int] NULL,
	[shipping_company] [nvarchar](255) NULL,
	[shipping_district] [nvarchar](255) NOT NULL,
	[shipping_fee] [numeric](18, 0) NOT NULL,
	[shipping_province] [nvarchar](255) NOT NULL,
	[shipping_ward] [nvarchar](255) NOT NULL,
	[status] [varchar](255) NOT NULL,
	[total_amount] [numeric](18, 0) NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[user_id] [int] NOT NULL,
	[promotion_applied_at] [datetime2](6) NULL,
	[promotion_code] [varchar](50) NULL,
	[promotion_discount_amount] [numeric](18, 2) NULL,
	[vnpay_transaction_id] [varchar](100) NULL,
	[final_total_amount] [numeric](18, 0) NULL,
	[original_total_amount] [numeric](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[created_date] [datetime2](6) NOT NULL,
	[is_read] [bit] NOT NULL,
	[message] [varchar](500) NOT NULL,
	[notification_type] [varchar](255) NOT NULL,
	[reference_id] [int] NULL,
	[shop_id] [int] NOT NULL,
	[is_admin_notification] [bit] NOT NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[order_item_id] [int] IDENTITY(1,1) NOT NULL,
	[quantity] [int] NOT NULL,
	[subtotal] [numeric](18, 0) NOT NULL,
	[unit_price] [numeric](18, 0) NOT NULL,
	[book_id] [int] NOT NULL,
	[order_id] [int] NOT NULL,
	[book_title] [nvarchar](500) NOT NULL,
	[book_authors] [nvarchar](max) NULL,
	[book_image_url] [nvarchar](500) NULL,
	[book_isbn] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[cancellation_reason] [nvarchar](max) NULL,
	[cancelled_at] [datetime2](6) NULL,
	[discount_amount] [numeric](18, 0) NOT NULL,
	[notes] [nvarchar](max) NULL,
	[order_date] [datetime2](6) NOT NULL,
	[order_status] [varchar](50) NOT NULL,
	[shipping_fee] [numeric](18, 0) NOT NULL,
	[sub_total] [numeric](18, 0) NOT NULL,
	[total_amount] [numeric](18, 0) NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[customer_order_id] [int] NOT NULL,
	[shop_id] [int] NOT NULL,
	[discount_code] [varchar](50) NULL,
	[ghn_order_code] [varchar](50) NULL,
	[tracking_number] [varchar](50) NULL,
	[payment_method] [varchar](255) NULL,
	[payment_status] [varchar](50) NULL,
	[shipping_address_type] [int] NULL,
	[shipping_company] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[otp_tokens]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[otp_tokens](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[attempts] [int] NOT NULL,
	[expiryDate] [datetime2](6) NOT NULL,
	[otp] [varchar](255) NOT NULL,
	[used] [bit] NOT NULL,
	[user_id] [int] NOT NULL,
	[token] [varchar](255) NOT NULL,
	[token_type] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_reservations]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_reservations](
	[reservation_id] [int] IDENTITY(1,1) NOT NULL,
	[cancelled_at] [datetime2](6) NULL,
	[confirmed_at] [datetime2](6) NULL,
	[created_at] [datetime2](6) NOT NULL,
	[discount_amount] [numeric](10, 2) NULL,
	[expires_at] [datetime2](6) NOT NULL,
	[notes] [nvarchar](max) NULL,
	[payment_method] [varchar](255) NOT NULL,
	[recipient_name] [varchar](255) NULL,
	[recipient_phone] [varchar](255) NULL,
	[reservation_data] [nvarchar](max) NULL,
	[shipping_address_detail] [varchar](500) NULL,
	[shipping_district] [varchar](255) NULL,
	[shipping_fee] [numeric](10, 2) NULL,
	[shipping_province] [varchar](255) NULL,
	[shipping_ward] [varchar](255) NULL,
	[status] [varchar](255) NOT NULL,
	[total_amount] [numeric](10, 2) NOT NULL,
	[vnpay_txn_ref] [varchar](255) NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[reservation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[permissionId] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](255) NULL,
	[name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[permissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotion_books]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotion_books](
	[promotion_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[promotion_id] ASC,
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotion_categories]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotion_categories](
	[promotion_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[promotion_id] ASC,
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotion_shops]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotion_shops](
	[promotion_id] [int] NOT NULL,
	[shop_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[promotion_id] ASC,
	[shop_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotion_usage]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotion_usage](
	[usage_id] [int] IDENTITY(1,1) NOT NULL,
	[discount_amount] [numeric](18, 2) NOT NULL,
	[promotion_code] [varchar](50) NOT NULL,
	[used_at] [datetime2](6) NOT NULL,
	[customer_order_id] [int] NULL,
	[promotion_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[usage_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotions]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotions](
	[promotion_id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[current_usage_count] [int] NOT NULL,
	[description] [nvarchar](max) NULL,
	[discount_type] [varchar](200) NOT NULL,
	[discount_value] [numeric](18, 2) NOT NULL,
	[end_date] [datetime2](6) NOT NULL,
	[is_active] [bit] NOT NULL,
	[max_discount_amount] [numeric](18, 2) NULL,
	[min_order_value] [numeric](18, 2) NULL,
	[name] [nvarchar](255) NOT NULL,
	[promotion_type] [varchar](255) NOT NULL,
	[scope_type] [varchar](255) NOT NULL,
	[start_date] [datetime2](6) NOT NULL,
	[status] [varchar](255) NOT NULL,
	[total_usage_limit] [int] NULL,
	[updated_at] [datetime2](6) NULL,
	[usage_limit_per_user] [int] NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_by_admin] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[promotion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[publishers]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[publishers](
	[publisher_id] [int] IDENTITY(1,1) NOT NULL,
	[contact_info] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[publisher_name] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[publisher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shop_approval_history]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shop_approval_history](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[processedAt] [datetime2](6) NOT NULL,
	[reason] [nvarchar](max) NULL,
	[status] [varchar](255) NOT NULL,
	[processed_by_user_id] [int] NOT NULL,
	[shop_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shops]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shops](
	[shop_id] [int] IDENTITY(1,1) NOT NULL,
	[approval_status] [varchar](255) NOT NULL,
	[contact_email] [varchar](255) NOT NULL,
	[contact_phone] [varchar](20) NOT NULL,
	[cover_image_url] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[identification_file_url] [nvarchar](max) NULL,
	[is_active] [bit] NOT NULL,
	[logo_url] [nvarchar](max) NULL,
	[reason_for_status] [nvarchar](max) NULL,
	[registration_date] [datetime2](6) NOT NULL,
	[request_at] [datetime2](6) NULL,
	[shop_detail_address] [nvarchar](500) NULL,
	[shop_district] [nvarchar](255) NULL,
	[shop_name] [nvarchar](500) NULL,
	[shop_province] [nvarchar](255) NULL,
	[shop_ward] [nvarchar](255) NULL,
	[tax_code] [varchar](15) NOT NULL,
	[admin_approver_id] [int] NULL,
	[user_id] [int] NOT NULL,
	[views_count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[shop_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[system_settings]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[system_settings](
	[setting_key] [nvarchar](100) NOT NULL,
	[setting_value] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[setting_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_address]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_address](
	[address_id] [int] IDENTITY(1,1) NOT NULL,
	[address_detail] [nvarchar](500) NULL,
	[address_type] [int] NULL,
	[company] [nvarchar](255) NULL,
	[district] [nvarchar](255) NOT NULL,
	[is_default] [bit] NOT NULL,
	[province] [nvarchar](255) NOT NULL,
	[recipient_name] [nvarchar](255) NOT NULL,
	[recipient_phone] [varchar](20) NOT NULL,
	[ward] [nvarchar](255) NOT NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_role]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_role](
	[user_role_id] [int] IDENTITY(1,1) NOT NULL,
	[is_role_active_for_user] [bit] NOT NULL,
	[role_assignment_date] [datetime2](6) NOT NULL,
	[role_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[date_of_birth] [date] NULL,
	[email] [varchar](255) NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[gender] [int] NOT NULL,
	[is_oauth2_user] [bit] NOT NULL,
	[password] [varchar](255) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[profile_pic_url] [nvarchar](max) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wallet_transactions]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wallet_transactions](
	[transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[amount] [numeric](18, 0) NULL,
	[completed_at] [datetime2](6) NULL,
	[created_at] [datetime2](6) NOT NULL,
	[description] [nvarchar](500) NULL,
	[reference_id] [int] NULL,
	[reference_type] [varchar](255) NULL,
	[status] [varchar](255) NULL,
	[transaction_type] [varchar](255) NULL,
	[vnpay_transaction_id] [varchar](100) NULL,
	[wallet_id] [int] NOT NULL,
	[balance_after] [numeric](18, 0) NOT NULL,
	[balance_before] [numeric](18, 0) NOT NULL,
	[created_by] [int] NULL,
	[commission_amount] [numeric](18, 2) NULL,
	[commission_rate] [numeric](5, 4) NULL,
	[gross_amount] [numeric](18, 2) NULL,
	[vnpay_txn_ref] [varchar](255) NULL,
	[payment_status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wallets]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wallets](
	[wallet_id] [int] IDENTITY(1,1) NOT NULL,
	[balance] [numeric](18, 0) NULL,
	[created_at] [datetime2](6) NOT NULL,
	[is_active] [bit] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[wallet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[withdrawal_requests]    Script Date: 7/27/2025 9:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[withdrawal_requests](
	[request_id] [int] IDENTITY(1,1) NOT NULL,
	[account_details] [nvarchar](1000) NULL,
	[admin_notes] [nvarchar](500) NULL,
	[amount] [numeric](18, 0) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[payment_method] [varchar](255) NOT NULL,
	[processed_at] [datetime2](6) NULL,
	[status] [varchar](255) NOT NULL,
	[transaction_id] [varchar](100) NULL,
	[updated_at] [datetime2](6) NULL,
	[user_notes] [nvarchar](500) NULL,
	[processed_by] [int] NULL,
	[user_id] [int] NOT NULL,
	[wallet_transaction_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[blog_comments] ON 

INSERT [dbo].[blog_comments] ([comment_id], [content], [created_date], [blog_id], [user_id], [is_approved], [is_hidden]) VALUES (1, N'Bài viết rất hay và bổ ích. Tôi đã đọc hầu hết những cuốn sách này và rất đồng ý với nhận xét của tác giả.', CAST(N'2025-04-12T01:10:37.1400000' AS DateTime2), 1, 7, 0, 0)
INSERT [dbo].[blog_comments] ([comment_id], [content], [created_date], [blog_id], [user_id], [is_approved], [is_hidden]) VALUES (2, N'Tôi nghĩ "Truyện Kiều" xứng đáng đứng ở vị trí số 1. Đó là một kiệt tác văn học Việt Nam.', CAST(N'2025-04-13T01:10:37.1400000' AS DateTime2), 1, 8, 0, 0)
INSERT [dbo].[blog_comments] ([comment_id], [content], [created_date], [blog_id], [user_id], [is_approved], [is_hidden]) VALUES (3, N'Còn thiếu một số tác phẩm quan trọng như "Số Đỏ" của Vũ Trọng Phụng.', CAST(N'2025-04-14T01:10:37.1400000' AS DateTime2), 1, 9, 0, 0)
SET IDENTITY_INSERT [dbo].[blog_comments] OFF
GO
SET IDENTITY_INSERT [dbo].[blogs] ON 

INSERT [dbo].[blogs] ([blog_id], [content], [created_date], [is_locked], [title], [views_count], [user_id], [is_pinned], [image_url]) VALUES (1, N'Việt Nam có rất nhiều tác phẩm văn học nổi tiếng từ truyền thống đến hiện đại. Bài viết này sẽ giới thiệu 10 cuốn sách văn học Việt Nam hay nhất mà bạn nên đọc ít nhất một lần trong đời...', CAST(N'2025-04-10T01:10:37.1400000' AS DateTime2), 0, N'Top 10 cuốn sách văn học Việt Nam hay nhất', 454, 1, 0, N'/uploads/blogs/1753504666617_4cc4f175-399e-4362-bf63-cbbc94950e88.jpg')
INSERT [dbo].[blogs] ([blog_id], [content], [created_date], [is_locked], [title], [views_count], [user_id], [is_pinned], [image_url]) VALUES (2, N'Mùa thu là thời điểm tuyệt vời để đắm mình vào những cuốn sách hay. Đây là danh sách những cuốn sách mới và đáng đọc nhất trong mùa thu này...', CAST(N'2025-04-25T01:10:37.1400000' AS DateTime2), 0, N'Những cuốn sách không thể bỏ lỡ trong mùa thu này', 327, 1, 0, N'/uploads/blogs/1753504566705_568a6efe-994e-40ea-9a9a-09adf680acb5.jpg')
INSERT [dbo].[blogs] ([blog_id], [content], [created_date], [is_locked], [title], [views_count], [user_id], [is_pinned], [image_url]) VALUES (3, N'Việc hình thành thói quen đọc sách cho trẻ từ nhỏ rất quan trọng. Bài viết này chia sẻ những phương pháp hiệu quả để khuyến khích trẻ yêu thích việc đọc sách...', CAST(N'2025-05-10T01:10:37.1400000' AS DateTime2), 0, N'Cách để trẻ em hình thành thói quen đọc sách', 289, 1, 0, N'/uploads/blogs/1753504505435_e6a81fce-0280-4f94-b6e0-9f55aa278d89.jpg')
SET IDENTITY_INSERT [dbo].[blogs] OFF
GO
INSERT [dbo].[book_categories] ([book_id], [category_id]) VALUES (1, 1)
INSERT [dbo].[book_categories] ([book_id], [category_id]) VALUES (1, 3)
INSERT [dbo].[book_categories] ([book_id], [category_id]) VALUES (1, 5)
GO
SET IDENTITY_INSERT [dbo].[book_reviews] ON 

INSERT [dbo].[book_reviews] ([review_id], [content], [created_date], [img_url_1], [img_url_2], [img_url_3], [is_approved], [rating], [title], [order_item_id], [user_id]) VALUES (1, N'sdkfjsdfkldsfsd', CAST(N'2025-07-23T02:59:27.3938050' AS DateTime2), N'/uploads/reviews/1753262548187_ffa02e18-d465-42a8-9924-b6389e51b149.jpg', N'/uploads/reviews/1753262590097_b9766fc5-b33f-493b-b84b-f17d8f66eecb.jpg', NULL, 1, 3, N'Nhăm nhăm nahwmf', 106, 7)
INSERT [dbo].[book_reviews] ([review_id], [content], [created_date], [img_url_1], [img_url_2], [img_url_3], [is_approved], [rating], [title], [order_item_id], [user_id]) VALUES (2, N'rat hay', CAST(N'2025-07-27T09:12:11.9788140' AS DateTime2), NULL, NULL, NULL, 1, 4, N'hay', 124, 7)
SET IDENTITY_INSERT [dbo].[book_reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[books] ON 

SET IDENTITY_INSERT [dbo].[books] OFF
GO
SET IDENTITY_INSERT [dbo].[carts] ON 

INSERT [dbo].[carts] ([cart_id], [created_at], [updated_at], [user_id]) VALUES (1, CAST(N'2025-05-10T01:01:41.7233330' AS DateTime2), CAST(N'2025-05-10T01:01:41.7233330' AS DateTime2), 1)
INSERT [dbo].[carts] ([cart_id], [created_at], [updated_at], [user_id]) VALUES (2, CAST(N'2025-05-15T01:01:41.7233330' AS DateTime2), CAST(N'2025-05-20T01:01:41.7233330' AS DateTime2), 2)
INSERT [dbo].[carts] ([cart_id], [created_at], [updated_at], [user_id]) VALUES (3, CAST(N'2025-05-12T01:01:41.7233330' AS DateTime2), CAST(N'2025-05-25T01:01:41.7233330' AS DateTime2), 3)
SET IDENTITY_INSERT [dbo].[carts] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([category_id], [category_description], [category_name], [is_active]) VALUES (1, N'Tác phẩm văn học của các tác giả Việt Nam', N'Văn học Việt Nam', 1)
INSERT [dbo].[categories] ([category_id], [category_description], [category_name], [is_active]) VALUES (2, N'Tác phẩm văn học của các tác giả nước ngoài đã được dịch sang tiếng Việt', N'Văn học nước ngoài', 1)
INSERT [dbo].[categories] ([category_id], [category_description], [category_name], [is_active]) VALUES (3, N'Các tác phẩm tiểu thuyết đa dạng thể loại', N'Tiểu thuyết', 1)
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[chat_messages] ON 

INSERT [dbo].[chat_messages] ([message_id], [created_at], [is_user_message], [message_type], [metadata], [session_id], [content]) VALUES (1, CAST(N'2025-07-24T04:26:15.8272210' AS DateTime2), 1, N'text', NULL, 6, N'hello')
INSERT [dbo].[chat_messages] ([message_id], [created_at], [is_user_message], [message_type], [metadata], [session_id], [content]) VALUES (2, CAST(N'2025-07-24T04:26:15.8487410' AS DateTime2), 0, N'text', NULL, 6, N'Xin chào! Tôi là ReadHub Assistant. Tôi có thể giúp bạn tìm sách, tư vấn về chính sách cửa hàng. Bạn cần hỗ trợ gì?')
INSERT [dbo].[chat_messages] ([message_id], [created_at], [is_user_message], [message_type], [metadata], [session_id], [content]) VALUES (3, CAST(N'2025-07-24T04:26:26.8272250' AS DateTime2), 1, N'text', NULL, 6, N'Bạn có biết sách đắc nhân tâm không')
GO
SET IDENTITY_INSERT [dbo].[chat_messages] OFF
GO
SET IDENTITY_INSERT [dbo].[chat_sessions] ON 

INSERT [dbo].[chat_sessions] ([session_id], [created_at], [is_active], [updated_at], [user_id], [session_token], [title], [message_count]) VALUES (6, CAST(N'2025-07-24T04:26:15.7157370' AS DateTime2), 1, CAST(N'2025-07-25T02:22:03.4739880' AS DateTime2), 7, N'session_1753304844310_jlopn8mit', N'hello', 186)
INSERT [dbo].[chat_sessions] ([session_id], [created_at], [is_active], [updated_at], [user_id], [session_token], [title], [message_count]) VALUES (7, CAST(N'2025-07-24T17:28:35.7991880' AS DateTime2), 1, CAST(N'2025-07-24T17:33:48.7542440' AS DateTime2), 7, N'session_b39de1bd-fcdb-47ec-96bf-9001a82f7ee5', N'Hello', 1)
INSERT [dbo].[chat_sessions] ([session_id], [created_at], [is_active], [updated_at], [user_id], [session_token], [title], [message_count]) VALUES (8, CAST(N'2025-07-24T17:30:17.8857440' AS DateTime2), 1, CAST(N'2025-07-25T02:11:25.6188930' AS DateTime2), 7, N'session_4aec0797-5378-4500-9b2e-500ef85c231d', NULL, 0)
SET IDENTITY_INSERT [dbo].[chat_sessions] OFF
GO
SET IDENTITY_INSERT [dbo].[customer_orders] ON 

SET IDENTITY_INSERT [dbo].[customer_orders] OFF
GO
SET IDENTITY_INSERT [dbo].[order_items] ON 

INSERT [dbo].[order_items] ([order_item_id], [quantity], [subtotal], [unit_price], [book_id], [order_id], [book_title], [book_authors], [book_image_url], [book_isbn]) VALUES (106, 1, CAST(68000 AS Numeric(18, 0)), CAST(68000 AS Numeric(18, 0)), 6, 78, N'Tắt Đèn', N'Ngô Tát Tố', N'https://example.com/covers/tat-den.jpg', NULL)
INSERT [dbo].[order_items] ([order_item_id], [quantity], [subtotal], [unit_price], [book_id], [order_id], [book_title], [book_authors], [book_image_url], [book_isbn]) VALUES (107, 1, CAST(126000 AS Numeric(18, 0)), CAST(126000 AS Numeric(18, 0)), 43, 79, N'Lolita', N'Vladimir Nabokov', N'https://example.com/covers/lolita.jpg', NULL)
INSERT [dbo].[order_items] ([order_item_id], [quantity], [subtotal], [unit_price], [book_id], [order_id], [book_title], [book_authors], [book_image_url], [book_isbn]) VALUES (108, 1, CAST(221000 AS Numeric(18, 0)), CAST(221000 AS Numeric(18, 0)), 50, 79, N'Suối Nguồn', N'Ayn Rand', N'https://example.com/covers/suoi-nguon.jpg', NULL)
SET IDENTITY_INSERT [dbo].[order_items] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[payment_reservations] ON 

SET IDENTITY_INSERT [dbo].[payment_reservations] OFF
GO
SET IDENTITY_INSERT [dbo].[promotion_usage] ON 

INSERT [dbo].[promotion_usage] ([usage_id], [discount_amount], [promotion_code], [used_at], [customer_order_id], [promotion_id], [user_id]) VALUES (13, CAST(30000.00 AS Numeric(18, 2)), N'N10', CAST(N'2025-07-22T22:09:49.9155560' AS DateTime2), 49, 3, 7)
INSERT [dbo].[promotion_usage] ([usage_id], [discount_amount], [promotion_code], [used_at], [customer_order_id], [promotion_id], [user_id]) VALUES (14, CAST(9800.00 AS Numeric(18, 2)), N'N10', CAST(N'2025-07-23T10:01:04.2636090' AS DateTime2), 50, 3, 7)
INSERT [dbo].[promotion_usage] ([usage_id], [discount_amount], [promotion_code], [used_at], [customer_order_id], [promotion_id], [user_id]) VALUES (15, CAST(22800.00 AS Numeric(18, 2)), N'N10', CAST(N'2025-07-23T11:07:13.1576150' AS DateTime2), 51, 3, 7)
SET IDENTITY_INSERT [dbo].[promotion_usage] OFF
GO
SET IDENTITY_INSERT [dbo].[promotions] ON 

SET IDENTITY_INSERT [dbo].[promotions] OFF
GO
SET IDENTITY_INSERT [dbo].[publishers] ON 

INSERT [dbo].[publishers] ([publisher_id], [contact_info], [description], [publisher_name]) VALUES (1, N'info@nxbkimdong.vn, 024.3943.4490', N'Nhà xuất bản dành cho thiếu nhi hàng đầu Việt Nam', N'NXB Kim Đồng')
INSERT [dbo].[publishers] ([publisher_id], [contact_info], [description], [publisher_name]) VALUES (2, N'hopthubandoc@nxbtre.com.vn, 028.3931.6289', N'Nhà xuất bản có nhiều tác phẩm văn học cho giới trẻ', N'NXB Trẻ')
INSERT [dbo].[publishers] ([publisher_id], [contact_info], [description], [publisher_name]) VALUES (3, N'tonghop@nxbhcm.com.vn, 028.3822.5340', N'Nhà xuất bản đa dạng các thể loại sách', N'NXB Tổng Hợp TP.HCM')
SET IDENTITY_INSERT [dbo].[publishers] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([role_id], [role_name]) VALUES (1, N'ADMIN')
INSERT [dbo].[roles] ([role_id], [role_name]) VALUES (2, N'SELLER')
INSERT [dbo].[roles] ([role_id], [role_name]) VALUES (3, N'BUYER')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[shops] ON 

SET IDENTITY_INSERT [dbo].[shops] OFF
GO
INSERT [dbo].[system_settings] ([setting_key], [setting_value]) VALUES (N'contact_district', N'Quận Ba Đình')
INSERT [dbo].[system_settings] ([setting_key], [setting_value]) VALUES (N'contact_email', N'contact@readhub.com')
INSERT [dbo].[system_settings] ([setting_key], [setting_value]) VALUES (N'contact_province', N'Thành phố Hà Nội')
GO
SET IDENTITY_INSERT [dbo].[user_address] ON 

INSERT [dbo].[user_address] ([address_id], [address_detail], [address_type], [company], [district], [is_default], [province], [recipient_name], [recipient_phone], [ward], [user_id]) VALUES (1, N'Số 1 Đường Trần Thái Tông', 0, NULL, N'Cầu Giấy', 1, N'Hà Nội', N'Administrator', N'0901234567', N'Dịch Vọng', 1)
INSERT [dbo].[user_address] ([address_id], [address_detail], [address_type], [company], [district], [is_default], [province], [recipient_name], [recipient_phone], [ward], [user_id]) VALUES (2, N'123 Lê Lợi', 1, N'Công ty Sách An Bình', N'Quận 1', 1, N'Hồ Chí Minh', N'Nguyễn Văn An', N'0912345678', N'Bến Nghé', 2)
INSERT [dbo].[user_address] ([address_id], [address_detail], [address_type], [company], [district], [is_default], [province], [recipient_name], [recipient_phone], [ward], [user_id]) VALUES (3, N'45 Nguyễn Trãi', 1, N'Nhà sách Trí Tuệ', N'Đống Đa', 1, N'Hà Nội', N'Trần Thị Bình', N'0923456789', N'Quang Trung', 3)
SET IDENTITY_INSERT [dbo].[user_address] OFF
GO
SET IDENTITY_INSERT [dbo].[user_role] ON 

INSERT [dbo].[user_role] ([user_role_id], [is_role_active_for_user], [role_assignment_date], [role_id], [user_id]) VALUES (1, 1, CAST(N'2025-06-09T00:59:15.8000000' AS DateTime2), 1, 1)
INSERT [dbo].[user_role] ([user_role_id], [is_role_active_for_user], [role_assignment_date], [role_id], [user_id]) VALUES (2, 1, CAST(N'2025-06-09T00:59:15.8000000' AS DateTime2), 2, 2)
INSERT [dbo].[user_role] ([user_role_id], [is_role_active_for_user], [role_assignment_date], [role_id], [user_id]) VALUES (3, 1, CAST(N'2025-06-09T00:59:15.8000000' AS DateTime2), 2, 3)
SET IDENTITY_INSERT [dbo].[user_role] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [date_of_birth], [email], [full_name], [gender], [is_oauth2_user], [password], [phone], [profile_pic_url], [is_active], [created_at]) VALUES (1, CAST(N'1990-01-01' AS Date), N'admin@bookstore.com', N'Administrator', 0, 0, N'$2a$10$BNTbrDf72Jl.xyFxJfCdT.AFtqtzkRgLevmwLhgrZUel3rXSblSkW', N'0901234567', N'https://randomuser.me/api/portraits/men/1.jpg', 1, NULL)
INSERT [dbo].[users] ([user_id], [date_of_birth], [email], [full_name], [gender], [is_oauth2_user], [password], [phone], [profile_pic_url], [is_active], [created_at]) VALUES (2, CAST(N'1985-05-15' AS Date), N'seller1@example.com', N'Nguyễn Văn An', 0, 0, N'$2a$10$BNTbrDf72Jl.xyFxJfCdT.AFtqtzkRgLevmwLhgrZUel3rXSblSkW', N'0912345678', N'https://randomuser.me/api/portraits/men/2.jpg', 1, NULL)
INSERT [dbo].[users] ([user_id], [date_of_birth], [email], [full_name], [gender], [is_oauth2_user], [password], [phone], [profile_pic_url], [is_active], [created_at]) VALUES (3, CAST(N'1988-07-22' AS Date), N'seller2@example.com', N'Trần Thị Bình', 1, 0, N'$2a$10$BNTbrDf72Jl.xyFxJfCdT.AFtqtzkRgLevmwLhgrZUel3rXSblSkW', N'0923456789', N'https://randomuser.me/api/portraits/women/2.jpg', 1, NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET IDENTITY_INSERT [dbo].[wallet_transactions] ON 

SET IDENTITY_INSERT [dbo].[wallet_transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[wallets] ON 

INSERT [dbo].[wallets] ([wallet_id], [balance], [created_at], [is_active], [updated_at], [user_id]) VALUES (1, CAST(0 AS Numeric(18, 0)), CAST(N'2025-07-22T09:45:37.8654390' AS DateTime2), 1, NULL, 1)
INSERT [dbo].[wallets] ([wallet_id], [balance], [created_at], [is_active], [updated_at], [user_id]) VALUES (2, CAST(177276 AS Numeric(18, 0)), CAST(N'2025-07-22T09:45:38.0013870' AS DateTime2), 1, CAST(N'2025-07-25T19:57:55.9798000' AS DateTime2), 2)
INSERT [dbo].[wallets] ([wallet_id], [balance], [created_at], [is_active], [updated_at], [user_id]) VALUES (3, CAST(0 AS Numeric(18, 0)), CAST(N'2025-07-22T09:45:38.0013870' AS DateTime2), 1, NULL, 3)
SET IDENTITY_INSERT [dbo].[wallets] OFF
GO
SET IDENTITY_INSERT [dbo].[withdrawal_requests] ON 

INSERT [dbo].[withdrawal_requests] ([request_id], [account_details], [admin_notes], [amount], [created_at], [payment_method], [processed_at], [status], [transaction_id], [updated_at], [user_notes], [processed_by], [user_id], [wallet_transaction_id]) VALUES (1, N'{"paymentMethod":"ZALOPAY","phoneNumber":"0321654987"}', NULL, CAST(50000 AS Numeric(18, 0)), CAST(N'2025-07-23T14:50:39.0849760' AS DateTime2), N'ZALOPAY', NULL, N'PENDING', NULL, CAST(N'2025-07-23T14:50:39.0849760' AS DateTime2), N'', NULL, 7, NULL)
SET IDENTITY_INSERT [dbo].[withdrawal_requests] OFF
GO
/****** Object:  Index [UKl825v4q90bf9mf2o1ggcg11sb]    Script Date: 7/27/2025 9:35:11 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKl825v4q90bf9mf2o1ggcg11sb] ON [dbo].[book_reviews]
(
	[order_item_id] ASC
)
WHERE ([order_item_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK64t7ox312pqal3p7fg9o503c2]    Script Date: 7/27/2025 9:35:11 AM ******/
ALTER TABLE [dbo].[carts] ADD  CONSTRAINT [UK64t7ox312pqal3p7fg9o503c2] UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKt703kyd2aii73xrxjn5ex6dcv]    Script Date: 7/27/2025 9:35:11 AM ******/
ALTER TABLE [dbo].[chat_sessions] ADD  CONSTRAINT [UKt703kyd2aii73xrxjn5ex6dcv] UNIQUE NONCLUSTERED 
(
	[session_token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKq1f9i1og9qy5e59sjk036crl2]    Script Date: 7/27/2025 9:35:11 AM ******/
ALTER TABLE [dbo].[otp_tokens] ADD  CONSTRAINT [UKq1f9i1og9qy5e59sjk036crl2] UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKfrg4bl4bj3hhdc8dt0rt3ih69]    Script Date: 7/27/2025 9:35:11 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKfrg4bl4bj3hhdc8dt0rt3ih69] ON [dbo].[payment_reservations]
(
	[vnpay_txn_ref] ASC
)
WHERE ([vnpay_txn_ref] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKpnvtwliis6p05pn6i3ndjrqt2]    Script Date: 7/27/2025 9:35:11 AM ******/
ALTER TABLE [dbo].[permissions] ADD  CONSTRAINT [UKpnvtwliis6p05pn6i3ndjrqt2] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_promotion_usage_customer_order]    Script Date: 7/27/2025 9:35:11 AM ******/
CREATE NONCLUSTERED INDEX [idx_promotion_usage_customer_order] ON [dbo].[promotion_usage]
(
	[customer_order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_promotion_usage_date]    Script Date: 7/27/2025 9:35:11 AM ******/
CREATE NONCLUSTERED INDEX [idx_promotion_usage_date] ON [dbo].[promotion_usage]
(
	[used_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_promotion_usage_promotion]    Script Date: 7/27/2025 9:35:11 AM ******/
CREATE NONCLUSTERED INDEX [idx_promotion_usage_promotion] ON [dbo].[promotion_usage]
(
	[promotion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_promotion_usage_user]    Script Date: 7/27/2025 9:35:11 AM ******/
CREATE NONCLUSTERED INDEX [idx_promotion_usage_user] ON [dbo].[promotion_usage]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKjdho73ymbyu46p2hh562dk4kk]    Script Date: 7/27/2025 9:35:11 AM ******/
ALTER TABLE [dbo].[promotions] ADD  CONSTRAINT [UKjdho73ymbyu46p2hh562dk4kk] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_promotion_active]    Script Date: 7/27/2025 9:35:11 AM ******/
CREATE NONCLUSTERED INDEX [idx_promotion_active] ON [dbo].[promotions]
(
	[is_active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_promotion_code]    Script Date: 7/27/2025 9:35:11 AM ******/
CREATE NONCLUSTERED INDEX [idx_promotion_code] ON [dbo].[promotions]
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_promotion_dates]    Script Date: 7/27/2025 9:35:11 AM ******/
CREATE NONCLUSTERED INDEX [idx_promotion_dates] ON [dbo].[promotions]
(
	[start_date] ASC,
	[end_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_promotion_scope]    Script Date: 7/27/2025 9:35:11 AM ******/
CREATE NONCLUSTERED INDEX [idx_promotion_scope] ON [dbo].[promotions]
(
	[scope_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKfrcvw4bjeifsxtwi7udccb03u]    Script Date: 7/27/2025 9:35:11 AM ******/
ALTER TABLE [dbo].[shops] ADD  CONSTRAINT [UKfrcvw4bjeifsxtwi7udccb03u] UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_system_settings_setting_key]    Script Date: 7/27/2025 9:35:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_system_settings_setting_key] ON [dbo].[system_settings]
(
	[setting_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK872xec3woupu3gw59b04pj3sa]    Script Date: 7/27/2025 9:35:11 AM ******/
ALTER TABLE [dbo].[user_role] ADD  CONSTRAINT [UK872xec3woupu3gw59b04pj3sa] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK6dotkott2kjsp8vw4d0m25fb7]    Script Date: 7/27/2025 9:35:11 AM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UK6dotkott2kjsp8vw4d0m25fb7] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKsswfdl9fq40xlkove1y5kc7kv]    Script Date: 7/27/2025 9:35:11 AM ******/
ALTER TABLE [dbo].[wallets] ADD  CONSTRAINT [UKsswfdl9fq40xlkove1y5kc7kv] UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[blog_comments] ADD  DEFAULT ((0)) FOR [is_approved]
GO
ALTER TABLE [dbo].[blog_comments] ADD  DEFAULT ((0)) FOR [is_hidden]
GO
ALTER TABLE [dbo].[blogs] ADD  DEFAULT ((0)) FOR [is_locked]
GO
ALTER TABLE [dbo].[blogs] ADD  DEFAULT ((0)) FOR [views_count]
GO
ALTER TABLE [dbo].[blogs] ADD  DEFAULT ((0)) FOR [is_pinned]
GO
ALTER TABLE [dbo].[book_reviews] ADD  DEFAULT ((0)) FOR [is_approved]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT ((0)) FOR [is_active]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT ((0)) FOR [views_count]
GO
ALTER TABLE [dbo].[chat_messages] ADD  DEFAULT ((0)) FOR [is_user_message]
GO
ALTER TABLE [dbo].[chat_sessions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[chat_sessions] ADD  DEFAULT ((0)) FOR [message_count]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ((0)) FOR [is_admin_notification]
GO
ALTER TABLE [dbo].[otp_tokens] ADD  DEFAULT ((0)) FOR [attempts]
GO
ALTER TABLE [dbo].[otp_tokens] ADD  DEFAULT ((0)) FOR [used]
GO
ALTER TABLE [dbo].[shops] ADD  DEFAULT ((0)) FOR [views_count]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_oauth2_user]
GO
ALTER TABLE [dbo].[wallet_transactions] ADD  DEFAULT ('COMPLETED') FOR [payment_status]
GO
ALTER TABLE [dbo].[blog_comments]  WITH CHECK ADD  CONSTRAINT [FKbovv268mg0vg57pkp0nb1bkq4] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[blog_comments] CHECK CONSTRAINT [FKbovv268mg0vg57pkp0nb1bkq4]
GO
ALTER TABLE [dbo].[blog_comments]  WITH CHECK ADD  CONSTRAINT [FKojv9mthgq65p7if8tws51cibh] FOREIGN KEY([blog_id])
REFERENCES [dbo].[blogs] ([blog_id])
GO
ALTER TABLE [dbo].[blog_comments] CHECK CONSTRAINT [FKojv9mthgq65p7if8tws51cibh]
GO
ALTER TABLE [dbo].[blogs]  WITH CHECK ADD  CONSTRAINT [FKkr2fy24puc3x3sdnla4r1iok1] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[blogs] CHECK CONSTRAINT [FKkr2fy24puc3x3sdnla4r1iok1]
GO
ALTER TABLE [dbo].[book_categories]  WITH CHECK ADD  CONSTRAINT [FK3k3ahp5vqlgmrr9swqqprmbxy] FOREIGN KEY([book_id])
REFERENCES [dbo].[books] ([book_id])
GO
ALTER TABLE [dbo].[book_categories] CHECK CONSTRAINT [FK3k3ahp5vqlgmrr9swqqprmbxy]
GO
ALTER TABLE [dbo].[book_categories]  WITH CHECK ADD  CONSTRAINT [FKrg2xlmc92mm2y5b1wmhd2g0y0] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[book_categories] CHECK CONSTRAINT [FKrg2xlmc92mm2y5b1wmhd2g0y0]
GO
ALTER TABLE [dbo].[book_reviews]  WITH CHECK ADD  CONSTRAINT [FKmctte0antfq21de5581l6ada4] FOREIGN KEY([order_item_id])
REFERENCES [dbo].[order_items] ([order_item_id])
GO
ALTER TABLE [dbo].[book_reviews] CHECK CONSTRAINT [FKmctte0antfq21de5581l6ada4]
GO
ALTER TABLE [dbo].[book_reviews]  WITH CHECK ADD  CONSTRAINT [FKon3wfhxgwpfu7kl1wu54mw78u] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[book_reviews] CHECK CONSTRAINT [FKon3wfhxgwpfu7kl1wu54mw78u]
GO
ALTER TABLE [dbo].[books]  WITH CHECK ADD  CONSTRAINT [FKayy5edfrqnegqj3882nce6qo8] FOREIGN KEY([publisher_id])
REFERENCES [dbo].[publishers] ([publisher_id])
GO
ALTER TABLE [dbo].[books] CHECK CONSTRAINT [FKayy5edfrqnegqj3882nce6qo8]
GO
ALTER TABLE [dbo].[books]  WITH CHECK ADD  CONSTRAINT [FKmfjhptaju03egl87fhelf5wbs] FOREIGN KEY([shop_id])
REFERENCES [dbo].[shops] ([shop_id])
GO
ALTER TABLE [dbo].[books] CHECK CONSTRAINT [FKmfjhptaju03egl87fhelf5wbs]
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD  CONSTRAINT [FK3f6l7u09wl1xfglv4453mkrw8] FOREIGN KEY([shop_id])
REFERENCES [dbo].[shops] ([shop_id])
GO
ALTER TABLE [dbo].[cart_items] CHECK CONSTRAINT [FK3f6l7u09wl1xfglv4453mkrw8]
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD  CONSTRAINT [FKhiu1jw80o45wfiw5tgok1xpkl] FOREIGN KEY([book_id])
REFERENCES [dbo].[books] ([book_id])
GO
ALTER TABLE [dbo].[cart_items] CHECK CONSTRAINT [FKhiu1jw80o45wfiw5tgok1xpkl]
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD  CONSTRAINT [FKpcttvuq4mxppo8sxggjtn5i2c] FOREIGN KEY([cart_id])
REFERENCES [dbo].[carts] ([cart_id])
GO
ALTER TABLE [dbo].[cart_items] CHECK CONSTRAINT [FKpcttvuq4mxppo8sxggjtn5i2c]
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD  CONSTRAINT [FKb5o626f86h46m4s7ms6ginnop] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[carts] CHECK CONSTRAINT [FKb5o626f86h46m4s7ms6ginnop]
GO
ALTER TABLE [dbo].[chat_messages]  WITH CHECK ADD  CONSTRAINT [FK3cpkdtwdxndrjhrx3gt9q5ux9] FOREIGN KEY([session_id])
REFERENCES [dbo].[chat_sessions] ([session_id])
GO
ALTER TABLE [dbo].[chat_messages] CHECK CONSTRAINT [FK3cpkdtwdxndrjhrx3gt9q5ux9]
GO
ALTER TABLE [dbo].[chat_sessions]  WITH CHECK ADD  CONSTRAINT [FK82ky97glaomlmhjqae1d0esmy] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[chat_sessions] CHECK CONSTRAINT [FK82ky97glaomlmhjqae1d0esmy]
GO
ALTER TABLE [dbo].[customer_orders]  WITH CHECK ADD  CONSTRAINT [FKt8e9kp8f6kmy0a3rytsmkkr8g] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[customer_orders] CHECK CONSTRAINT [FKt8e9kp8f6kmy0a3rytsmkkr8g]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [FK5v9l9b0k0o6g9hxo9g748ifb3] FOREIGN KEY([shop_id])
REFERENCES [dbo].[shops] ([shop_id])
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [FK5v9l9b0k0o6g9hxo9g748ifb3]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [FK9y21adhxn0ayjhfocscqox7bh] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [FK9y21adhxn0ayjhfocscqox7bh]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FKbioxgbv59vetrxe0ejfubep1w] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FKbioxgbv59vetrxe0ejfubep1w]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FKi4ptndslo2pyfp9r1x0eulh9g] FOREIGN KEY([book_id])
REFERENCES [dbo].[books] ([book_id])
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FKi4ptndslo2pyfp9r1x0eulh9g]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK21gttsw5evi5bbsvleui69d7r] FOREIGN KEY([shop_id])
REFERENCES [dbo].[shops] ([shop_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK21gttsw5evi5bbsvleui69d7r]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK8fvedjqcexcc2qk2tf92fik12] FOREIGN KEY([customer_order_id])
REFERENCES [dbo].[customer_orders] ([customer_order_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK8fvedjqcexcc2qk2tf92fik12]
GO
ALTER TABLE [dbo].[otp_tokens]  WITH CHECK ADD  CONSTRAINT [FKjyk2kyj8ul2bjqjpentlrpyi1] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[otp_tokens] CHECK CONSTRAINT [FKjyk2kyj8ul2bjqjpentlrpyi1]
GO
ALTER TABLE [dbo].[payment_reservations]  WITH CHECK ADD  CONSTRAINT [FKjwata9pjkjly6r4yg0cjxigc2] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[payment_reservations] CHECK CONSTRAINT [FKjwata9pjkjly6r4yg0cjxigc2]
GO
ALTER TABLE [dbo].[promotion_books]  WITH CHECK ADD  CONSTRAINT [FK9jiwnkhhs8b2qkci3hj6t1bcd] FOREIGN KEY([book_id])
REFERENCES [dbo].[books] ([book_id])
GO
ALTER TABLE [dbo].[promotion_books] CHECK CONSTRAINT [FK9jiwnkhhs8b2qkci3hj6t1bcd]
GO
ALTER TABLE [dbo].[promotion_books]  WITH CHECK ADD  CONSTRAINT [FKolxmyqqujtsbgsufec82k5f0v] FOREIGN KEY([promotion_id])
REFERENCES [dbo].[promotions] ([promotion_id])
GO
ALTER TABLE [dbo].[promotion_books] CHECK CONSTRAINT [FKolxmyqqujtsbgsufec82k5f0v]
GO
ALTER TABLE [dbo].[promotion_categories]  WITH CHECK ADD  CONSTRAINT [FKaqy93wdhopfuklq4l5o534xtv] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[promotion_categories] CHECK CONSTRAINT [FKaqy93wdhopfuklq4l5o534xtv]
GO
ALTER TABLE [dbo].[promotion_categories]  WITH CHECK ADD  CONSTRAINT [FKoynbpufptkiqhk4n10x25fp3o] FOREIGN KEY([promotion_id])
REFERENCES [dbo].[promotions] ([promotion_id])
GO
ALTER TABLE [dbo].[promotion_categories] CHECK CONSTRAINT [FKoynbpufptkiqhk4n10x25fp3o]
GO
ALTER TABLE [dbo].[promotion_shops]  WITH CHECK ADD  CONSTRAINT [FKiyr4rpg8444hhgaaqegbg80m7] FOREIGN KEY([shop_id])
REFERENCES [dbo].[shops] ([shop_id])
GO
ALTER TABLE [dbo].[promotion_shops] CHECK CONSTRAINT [FKiyr4rpg8444hhgaaqegbg80m7]
GO
ALTER TABLE [dbo].[promotion_shops]  WITH CHECK ADD  CONSTRAINT [FKqy3coao0wqkqtyjppdx7641w4] FOREIGN KEY([promotion_id])
REFERENCES [dbo].[promotions] ([promotion_id])
GO
ALTER TABLE [dbo].[promotion_shops] CHECK CONSTRAINT [FKqy3coao0wqkqtyjppdx7641w4]
GO
ALTER TABLE [dbo].[promotion_usage]  WITH CHECK ADD  CONSTRAINT [FKejsynwyybbw6r6eo7w0p6sfa5] FOREIGN KEY([promotion_id])
REFERENCES [dbo].[promotions] ([promotion_id])
GO
ALTER TABLE [dbo].[promotion_usage] CHECK CONSTRAINT [FKejsynwyybbw6r6eo7w0p6sfa5]
GO
ALTER TABLE [dbo].[promotion_usage]  WITH CHECK ADD  CONSTRAINT [FKh376t1vq074b23q3l4fuax6kt] FOREIGN KEY([customer_order_id])
REFERENCES [dbo].[customer_orders] ([customer_order_id])
GO
ALTER TABLE [dbo].[promotion_usage] CHECK CONSTRAINT [FKh376t1vq074b23q3l4fuax6kt]
GO
ALTER TABLE [dbo].[promotion_usage]  WITH CHECK ADD  CONSTRAINT [FKtc1p79kdje5blf4ud9b5y298a] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[promotion_usage] CHECK CONSTRAINT [FKtc1p79kdje5blf4ud9b5y298a]
GO
ALTER TABLE [dbo].[promotions]  WITH CHECK ADD  CONSTRAINT [FKdmyppdycrsqwl5mikrw105clk] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[promotions] CHECK CONSTRAINT [FKdmyppdycrsqwl5mikrw105clk]
GO
ALTER TABLE [dbo].[promotions]  WITH CHECK ADD  CONSTRAINT [FKfkmctw7nhd0myq81xf23hsncn] FOREIGN KEY([created_by_admin])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[promotions] CHECK CONSTRAINT [FKfkmctw7nhd0myq81xf23hsncn]
GO
ALTER TABLE [dbo].[promotions]  WITH CHECK ADD  CONSTRAINT [FKq92gawiwgnt0dsw7t0twq656r] FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[promotions] CHECK CONSTRAINT [FKq92gawiwgnt0dsw7t0twq656r]
GO
ALTER TABLE [dbo].[shop_approval_history]  WITH CHECK ADD  CONSTRAINT [FKd7mnn7cbk9hg5c6kurxi0rarp] FOREIGN KEY([processed_by_user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[shop_approval_history] CHECK CONSTRAINT [FKd7mnn7cbk9hg5c6kurxi0rarp]
GO
ALTER TABLE [dbo].[shop_approval_history]  WITH CHECK ADD  CONSTRAINT [FKiibuutxegwrjtce68k0qsy7ew] FOREIGN KEY([shop_id])
REFERENCES [dbo].[shops] ([shop_id])
GO
ALTER TABLE [dbo].[shop_approval_history] CHECK CONSTRAINT [FKiibuutxegwrjtce68k0qsy7ew]
GO
ALTER TABLE [dbo].[shops]  WITH CHECK ADD  CONSTRAINT [FK34po7mmli7wotimo70r6640ap] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[shops] CHECK CONSTRAINT [FK34po7mmli7wotimo70r6640ap]
GO
ALTER TABLE [dbo].[shops]  WITH CHECK ADD  CONSTRAINT [FKf0fsd256g6jr76264nilw21bl] FOREIGN KEY([admin_approver_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[shops] CHECK CONSTRAINT [FKf0fsd256g6jr76264nilw21bl]
GO
ALTER TABLE [dbo].[user_address]  WITH CHECK ADD  CONSTRAINT [FKrmincuqpi8m660j1c57xj7twr] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[user_address] CHECK CONSTRAINT [FKrmincuqpi8m660j1c57xj7twr]
GO
ALTER TABLE [dbo].[user_role]  WITH CHECK ADD  CONSTRAINT [FKj345gk1bovqvfame88rcx7yyx] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[user_role] CHECK CONSTRAINT [FKj345gk1bovqvfame88rcx7yyx]
GO
ALTER TABLE [dbo].[user_role]  WITH CHECK ADD  CONSTRAINT [FKt7e7djp752sqn6w22i6ocqy6q] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[user_role] CHECK CONSTRAINT [FKt7e7djp752sqn6w22i6ocqy6q]
GO
ALTER TABLE [dbo].[wallet_transactions]  WITH CHECK ADD  CONSTRAINT [FK8seu7b87ifqi09ghhssusmb0x] FOREIGN KEY([wallet_id])
REFERENCES [dbo].[wallets] ([wallet_id])
GO
ALTER TABLE [dbo].[wallet_transactions] CHECK CONSTRAINT [FK8seu7b87ifqi09ghhssusmb0x]
GO
ALTER TABLE [dbo].[wallets]  WITH CHECK ADD  CONSTRAINT [FKc1foyisidw7wqqrkamafuwn4e] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[wallets] CHECK CONSTRAINT [FKc1foyisidw7wqqrkamafuwn4e]
GO
ALTER TABLE [dbo].[withdrawal_requests]  WITH CHECK ADD  CONSTRAINT [FKcec4jtwegulbuv8yahwaqf58j] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[withdrawal_requests] CHECK CONSTRAINT [FKcec4jtwegulbuv8yahwaqf58j]
GO
ALTER TABLE [dbo].[withdrawal_requests]  WITH CHECK ADD  CONSTRAINT [FKl7t6dgouj021jcfesurgc1euf] FOREIGN KEY([wallet_transaction_id])
REFERENCES [dbo].[wallet_transactions] ([transaction_id])
GO
ALTER TABLE [dbo].[withdrawal_requests] CHECK CONSTRAINT [FKl7t6dgouj021jcfesurgc1euf]
GO
ALTER TABLE [dbo].[withdrawal_requests]  WITH CHECK ADD  CONSTRAINT [FKlwkrg91fae95jod63a3yfg9hd] FOREIGN KEY([processed_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[withdrawal_requests] CHECK CONSTRAINT [FKlwkrg91fae95jod63a3yfg9hd]
GO
ALTER TABLE [dbo].[customer_orders]  WITH CHECK ADD CHECK  (([payment_method]='COD' OR [payment_method]='VNPAY'))
GO
ALTER TABLE [dbo].[customer_orders]  WITH CHECK ADD CHECK  (([payment_status]='REFUNDED' OR [payment_status]='FAILED' OR [payment_status]='PAID' OR [payment_status]='PENDING'))
GO
ALTER TABLE [dbo].[customer_orders]  WITH CHECK ADD CHECK  (([status]='CANCELLED' OR [status]='DELIVERED' OR [status]='SHIPPED' OR [status]='PROCESSING' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD CHECK  (([notification_type]='NEW_REVIEW' OR [notification_type]='NEW_ORDER'))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([order_status]='CANCELLED' OR [order_status]='DELIVERED' OR [order_status]='SHIPPED' OR [order_status]='PROCESSING' OR [order_status]='PENDING'))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([payment_method]='PayPal' OR [payment_method]='COD'))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([payment_status]='REFUNDED' OR [payment_status]='FAILED' OR [payment_status]='PAID' OR [payment_status]='PENDING'))
GO
ALTER TABLE [dbo].[otp_tokens]  WITH CHECK ADD CHECK  (([token_type]='SHOP_DELETION' OR [token_type]='PASSWORD_RESET' OR [token_type]='ACCOUNT_DELETION' OR [token_type]='OTP'))
GO
ALTER TABLE [dbo].[payment_reservations]  WITH CHECK ADD CHECK  (([payment_method]='COD' OR [payment_method]='VNPAY'))
GO
ALTER TABLE [dbo].[payment_reservations]  WITH CHECK ADD CHECK  (([status]='EXPIRED' OR [status]='CANCELLED' OR [status]='CONFIRMED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[promotions]  WITH CHECK ADD CHECK  (([promotion_type]='BUNDLE_DISCOUNT' OR [promotion_type]='FREE_SHIPPING' OR [promotion_type]='BUY_ONE_GET_ONE' OR [promotion_type]='FIXED_AMOUNT_DISCOUNT' OR [promotion_type]='PERCENTAGE_DISCOUNT'))
GO
ALTER TABLE [dbo].[promotions]  WITH CHECK ADD CHECK  (([scope_type]='SHOP' OR [scope_type]='PRODUCT' OR [scope_type]='CATEGORY' OR [scope_type]='SITE_WIDE'))
GO
ALTER TABLE [dbo].[promotions]  WITH CHECK ADD CHECK  (([status]='USED_UP' OR [status]='EXPIRED' OR [status]='INACTIVE' OR [status]='ACTIVE' OR [status]='DRAFT'))
GO
ALTER TABLE [dbo].[shop_approval_history]  WITH CHECK ADD CHECK  (([status]='SUSPENDED' OR [status]='REJECTED' OR [status]='APPROVED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[shops]  WITH CHECK ADD CHECK  (([approval_status]='SUSPENDED' OR [approval_status]='REJECTED' OR [approval_status]='APPROVED' OR [approval_status]='PENDING'))
GO
ALTER TABLE [dbo].[wallet_transactions]  WITH CHECK ADD CHECK  (([status]='FAILED' OR [status]='COMPLETED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[wallet_transactions]  WITH CHECK ADD CHECK  (([transaction_type]='DEBIT' OR [transaction_type]='CREDIT'))
GO
ALTER TABLE [dbo].[wallet_transactions]  WITH CHECK ADD  CONSTRAINT [CK_wallet_transactions_reference_type_valid] CHECK  (([reference_type]='PROMOTION_CREDIT' OR [reference_type]='SYSTEM_ADJUSTMENT' OR [reference_type]='PURCHASE_DEDUCTION' OR [reference_type]='MANUAL_ADD' OR [reference_type]='WITHDRAWAL' OR [reference_type]='ORDER_REFUND' OR [reference_type]='ORDER_PAYMENT' OR [reference_type]='ADMIN_ADJUSTMENT' OR [reference_type] IS NULL))
GO
ALTER TABLE [dbo].[wallet_transactions] CHECK CONSTRAINT [CK_wallet_transactions_reference_type_valid]
GO
ALTER TABLE [dbo].[withdrawal_requests]  WITH CHECK ADD CHECK  (([payment_method]='OTHER' OR [payment_method]='TECHCOMBANK' OR [payment_method]='VIETCOMBANK' OR [payment_method]='VIETTINBANK' OR [payment_method]='VIETTEL_MONEY' OR [payment_method]='ZALOPAY' OR [payment_method]='MOMO' OR [payment_method]='PAYPAL' OR [payment_method]='BANK_TRANSFER'))
GO
ALTER TABLE [dbo].[withdrawal_requests]  WITH CHECK ADD CHECK  (([status]='REJECTED' OR [status]='APPROVED' OR [status]='PENDING'))
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'URL of the blog post featured image' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'blogs', @level2type=N'COLUMN',@level2name=N'image_url'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique identifier for the setting (e.g., hero_title, contact_email)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'system_settings', @level2type=N'COLUMN',@level2name=N'setting_key'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The value of the setting (can be text, URLs, HTML content, etc.)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'system_settings', @level2type=N'COLUMN',@level2name=N'setting_value'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'System-wide configuration settings stored as key-value pairs' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'system_settings'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Reference type for wallet transaction: ADMIN_ADJUSTMENT, ORDER_PAYMENT, ORDER_REFUND, WITHDRAWAL, MANUAL_ADD, PURCHASE_DEDUCTION, SYSTEM_ADJUSTMENT, PROMOTION_CREDIT, or NULL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'wallet_transactions', @level2type=N'COLUMN',@level2name=N'reference_type'
GO
USE [master]
GO
