<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<footer th:fragment="footer-content" class="site-footer pt-5 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <h5 class="footer-heading">Connect</h5>
                <p class="small">329 Queensberry Street, North Melbourne VIC 3051, Australia.</p>
                <p class="small"><a href="mailto:sales@readhub.com">sales@readhub.com</a></p>
                <p class="small">1234567890</p>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0 ms-auto">
                <h5 class="footer-heading">Explore</h5>
                <ul class="list-unstyled footer-links">
                    <li><a href="/about-contact">About Us</a></li>
                    <li><a href="/terms-policy">Policy</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </div>
        </div>
        <hr class="footer-hr">
        <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-start">
                <p class="small mb-0">© 2025 ReadHub. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>