<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<footer th:fragment="footer-content" class="site-footer pt-5 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <h5 class="footer-heading">Connect</h5>
                <p class="small">329 Queensberry Street, North Melbourne VIC 3051, Australia.</p>
                <p class="small"><a href="mailto:sales@bookix.com">sales@bookix.com</a></p>
                <p class="small">1234567890</p>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h5 class="footer-heading">Categories</h5>
                <ul class="list-unstyled footer-links">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Comedy</a></li>
                    <li><a href="#">Drama</a></li>
                    <li><a href="#">Horror</a></li>
                    <li><a href="#">Kids</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h5 class="footer-heading">Explore</h5>
                <ul class="list-unstyled footer-links">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Policy</a></li>
                    <li><a href="#">Sitemap</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h5 class="footer-heading">Account</h5>
                <ul class="list-unstyled footer-links">
                    <li><a href="#">Account</a></li>
                    <li><a href="#">Manage Account</a></li>
                    <li><a href="#">Saved Items</a></li>
                    <li><a href="#">Orders & Returns</a></li>
                    <li><a href="#">Redeem a Gift Card</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-12">
                <h5 class="footer-heading">Get in touch</h5>
                <div class="social-icons">
                    <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <hr class="footer-hr">
        <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-start">
                <p class="small mb-0">© 2023 Bookix. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <img th:src="@{/images/payment-methods.png}" alt="Payment Methods" class="payment-methods-img">
            </div>
        </div>
    </div>
</footer>

</body>
</html>