<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- Seller Footer Fragment -->
    <footer th:fragment="seller-footer" class="bg-dark text-white py-4 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>ReadHub</h5>
                    <p class="small">Your trusted online bookstore with a wide collection of books.</p>
                </div>
                <div class="col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="list-unstyled small">
                        <li><a href="/" class="text-white text-decoration-none">Home</a></li>
                        <li><a href="/about-contact" class="text-white text-decoration-none">About Us</a></li>
                        <li><a href="/about-contact#contact" class="text-white text-decoration-none">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h6>Follow Us</h6>
                    <div class="d-flex">
                        <a href="#" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <hr class="my-3 bg-light">
            <div class="text-center small">
                <p class="mb-0">&copy; 2023 ReadHub. All rights reserved.</p>
            </div>
        </div>
    </footer>
</body>
</html> 